@media (max-width: 768px) {
    .logo__site {
        display: none;
    }
}

@media (min-width: 769px) {

    /****** HEADER ******/
    .main-header {
        height: 150px;
        width: 30%;
        max-width: 300px;
        text-align: center;
        border-bottom: none;
    }

    .nav-toggle {
        display: none;
    }

    .logo__image {
        right: 42%;
        height: 37px;
        width: 37px;
        margin-top: 10px;
    }

    .logo__site {
        font-family: 'Kaushan Script', cursive;
        font-size: 1.3em;
        letter-spacing: 0.03em;
        color: #178AB9;
        padding-top: 57px;

    }

    .site-title h1 {
        padding-top: 15px;
        font-size: 1.45em;
    }

    /****** NAVIGATION ******/
    .main-nav {
        width: 30%;
        max-width: 300px;
        left: 0;
        top: 150px;
        background-color: #F0F0EF;
        transition: none;
        box-shadow: none;
    }

    .nav-menu {
        margin-top: 0;
        padding-left: 50px;
    }

    .menu-close {
        display: none;
    }

    .menu-title,
    .nav-menu a {
        color: #0A394C;
    }


}
